<!DOCTYPE html>
<html>
<head>
<title>DR.A MAHESHWARI</title>
<link rel="stylesheet" href="../static/style.css">

</head>

</head>

<body style="background-color:Tomato;">

<h1>Dr.A MAHESHWARI</h1>
<div>


<div class="details">
<center">
<img src="../static/mahesh.jpg">
<form action="/contact" method="post">
  <button type="submit">
      contact me 
  </button>
</form>
</center">
</div>

<div class="details">
<center">
<img src="../static/sakthi.jpg">
<form action="/contact1" method="post">
    <button type="submit">
        contact me 
    </button>
</form>
</center">
</div>

<div class="details">

<center">
<img src="../static/mithun 1.jpg">
<form action="/contact2" method="post">
    <button type="submit">
      contact me 
  </button>
</form>
</center">
</div>

<div class="details">
<center">
<img src="../static/saravanan.jpg">
<form action="/contact3" method="post">
  <button type="submit">
    contact me 
</button>
</form>
</center">
</div>
</div>






<p>Mobile: +91-9884427554 </p>
<p>Aadhar: 2089 8683 9736 </p> 
</p>Pan : ALGPM9017N </p>  



<h1>KEY COMPETENCY:</h1>
</p>19+ years’ experience in the field of Academic.  </p>


<h1>EDUCATIONAL QUALIFICATIONS:</h1>

</p>	2019- SATHYABAMA UNIVERSITY– Chennai,India
Ph.D 	DOCTOR OF PHILOSOPHY        - 	Enhanced Machine Transliteration Using          
	                                                            Bagging Words and Decision Tree with
	                                                            Turing Machine.   
</p>

</p>	2008 SATHYABAMA UNIVERSITY, Chennai, India
M.E 	MASTER OF ENGINEERING 	‐ 	Computer Science & Engg. (CSE)
</p>

</p>	1999 Priyadharshini Engg College, Madras University, Vaniyambadi, india
B.E 	BACHELOR OF ENGINEERING 	‐ 	Computer Science & Engg. (CSE)
</p>

<h1>PROFESSIONAL EXPERIENCE:</h1>
</p>#   	Associate Professor
Department of Computer Science & Engineering. (CSE)
     Jeppiaar Engineering College
     Chennai 					-	Jan 2009 –Sep 2019
</p>

</p>#   	Senior Lecturer
Department of Computer Science & Engineering. (CSE)
     SMK Fomra Institute of Technology
     Chennai 					-	Aug 2007 – Aug 2008
</p>

</p>#   	Lecturer
Department of Computer Science & Engineering. (CSE)
     SRM Institute of Science &Technology, Ramapuram Campus
     Chennai 					-	Jan 2005 – July 2007
</p>   	


</p>#		Lecturer
Department of Computer Science & Engineering. (CSE)
Arulmigu Kalasalingam College of Engineering
Krishnankoil					-	Sep 1999 – Nov 2004 
 </p> 




 <!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>



<h2>TEACHING EXPERIENCE</h2>

<table>
  <tr>
    <th>S.NO</th>
    <th>Employer Name</th>
    <th>Designation</th>
    <th>From</th>
    <th>to</th>
    <th>years</th>
    <th>months</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Jeppiaar Engineering College</td>
    <td>Associate Professor</td>
    <td>02-01-2009</td>
    <td>26-09-2019</td>
    <td>10</td>
    <td>9</td>
  </tr>
  <tr>
    <td>2</td>
    <td>SMK Fomra Institute of Technology</td>
    <td>Senior Lecturer</td>
    <td>01-08-2007</td>
    <td>04-08-2008</td>
    <td>01</td>
    <td>00</td>
  </tr>
  <tr>
    <td>3</td>
    <td>SRM IST</td>
    <td>Lecturer</td>
    <td>03-01-2005</td>
    <td>27-07-2007</td>
    <td>02</td>
    <td>7</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Arulmigu Kalasalingam College of Engineering</td>
    <td>Lecturer</td>
    <td>08-09-1999</td>
    <td>15-11-2004</td>
    <td>05</td>
    <td>02</td>
  
  </tr>
  <tr>
              <td>  <p>total experience in months and years   19  |  06</p></td>
   
</table>

</body>
</html>

<h1>SOFTWARE PROFICIENCY:</h1>

<p>Programming Language		: C, C++, Perl, Python, JAVA, BASIC,FORTRAN-77, COBOL, PASCAL.</p>
<p>Packages                                            :	MS-OFFICE-97, MS-OFFICE-XP, MS-OFFICE-2000, MS-OFFICE-2003, MS-OFFICE-2007 (MS-Excel, MS Access, MS-Word, MS-PowerPoint</p>
<p>Database 				: 	Oracle, MS‐Access, DBASE –IV</p>
<p>Operating System 			: 	Windows NT, Windows 2K, XP & Vista</p>


<h1>ACADEMIC SUBJECTS HANDLED: </h1>


<p>	Theoretical Foundations of Computer Science</p>
<p>	Advanced Data structures and Algorithms</p>
<p>	Advanced Data structures and Algorithms</p>
<p>	Data Structures 	</p>
<p>	Design and Analysis of Algorithms 	</p>
<p>	Theory of Computation            	     </p>
<p>	Principles of Compiler Design</p>
<p>	High Speed Networks </p>
<p>	Introduction to Analysis of Algorithms </p>
<p>	Operating Systems </p>
<p>	Interactive Computer Graphics </p>
<p>	C & C++</p>
<p>	System Analysis and Design </p>
<p>	Data Base Management Systems</p>


<h1>ACADEMIC PROJECTS GUIDED:</h1>

<p>	UG Projects – 24</p>
<p>	PG Projects –  12</p>

<h1> TRAINING PROGRAMMES AND WORKSHOPS ATTENDED: </h1>

<p>	Participated in “The Guinness World Record Attempt- Largest Organ Donation Awareness Programme” Organized by Transplant Authority of Tamil Nadu, Jeppiaar Engineering College, Chennai, 24th October 2018.</p>
<p>	Organized 3 days Workshop on “Cloud Computing with AWS” at Jeppiaar Engineering College, Chennai, from 10th to 12th September 2018.   </p>
<p>	Participated in two days Faculty Development Program on “Introduction to Python Programming” conducted by ICT Academy on 29th and 30th October 2018 at Sri Sairam Institute of Technology, Chennai.</p>
<p>	Participated in “Refined Versions of Basic Sciences and Their Uplifting Effects on Society (RVBS – 2018)” National workshop at Jeppiaar Engineering College, from 6th to 13th August 2018.</p>
<p>	Participated in IET-CLN sponsored 2 days’ National workshop on “Internet Applications & Semantic Web Services NWIAS 2018 ” held during 20th  – 21st  August 2018.</p>
<p>	Participated in “Impact of Smartphones and Mobile Devices on Human Health and Life”, National Level Seminar held in Karpagam College of Engineering, Coimbatore, 15th and 16th June 2018.</p>
<p>	Training Programme on “Reverse Engineering” conducted by SRIORAX Info Solution Pvt. Ltd., organized by Jeppiaar Engineering College, Chennai during 08th to 19th January 2018</p>
<p>	Participated in SERB, DST & BRANS sponsored 2 days’ National workshop on “Quantum Computation and Cryptography”, at S.A. Engineering College, held during 23rd & 24th January 2018.</p>
<p>	Participated in two days Faculty Development Program on “Introduction to R Programming” conducted by ICT Academy on 26th and 27th April 2018 at Ethiraj College for Women, Chennai.</p>
<p>	Participated in two days Faculty Development Program on “Problem Solving in C & C++” conducted by ICT Academy on 27th and 28th April 2018 at Academy of Maritime Education and Training, Chennai.</p>
<p>	Participated in one day workshop on “Current Trends on IOT & Its Applications” at Jeppiaar Engineering College, on 21st February 2018.</p>
<p>	Industrial Training Programme in “3D Printer, 2D Printer and Softwares” at Retech Solutions Pvt Ltd, Chennai during 14th, 15th , 28th , 29th July 2018 and 4th – 5th August 2018.</p>
<p>	Industrial Training Programme in “SRS documentation and Client Communication” held in Tecxpera Technologies Pvt. Ltd, Chennai during 18th May to 21st May 2018.</p>
<p>	Participated in three days workshop on “Big Data and Analytics” at Jeppiaar Engineering College, during 20th to 22nd December 2017.</p>
<p>	Participated in Anna University Sponsored Six days Faculty Development Training Programme on “Computer Networks” at Jeppiaar Engineering College, Chennai, during 24th to 30th April 2019.</p>
<p>	Participated in CSI Sponsored Five days Faculty Development Training Programme on “NextGen TechStack” at Sri Sai Ram Engineering College, Chennai, during 08th to 12th April 2019.</p>
<p>	Participated in One day workshop on “Moode Learning Management System” at Jeppiaar Engineering College, Chennai, held on 3rd April 2019.</p>
<p>	Organized in Anna University Sponsored Seven Days FDTP on “Theory of Computation” at Jeppiaar Engineering College, Chennai, during 04th  May to 10th May 2015.</p>
<p>	Organized in Anna University Sponsored Seven Days FDTP on “Compiler Design” at Jeppiaar Engineering College, Chennai, during 25th  May to 31st  January 2016.</p>

<h1>MEMBERSHIP IN PROFESSIONAL BODIES:</h1>

<p>Life member of the ISTE: LM28233</p>
<p>	Annual member in IEICE : 1787594</p>

<h1>PERSONAL DETAILS:</h1>

<p>Date of Birth & Age			: 	12.03.1978 & 42 years 
    Marital status 			: 	Married 
    
    Languages Known 			: 	English, Tamil 
    Contact Details			
    Mobile				:	 9884427554 
    Email 					: 	78mahee@gmail.com 
    I am sure that i can contribute a lot for the development of the department, and improvement of the institution through my academic excellence, organizing ability and administrative capacity.</p>


  
</body>
</html>























